@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500&family=Kaisei+Decol:wght@400;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

#incomeError {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
    display: none;
}
#foodError {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
    display: none;
}
#rentError {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
    display: none;
}
#clothError {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
    display: none;
}
.heading{
    color: #0127ff;
    font-family: 'Kaisei Decol', serif;
    font-weight: bold;
}