#incomeError {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
    display: none;
}
#foodError {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
    display: none;
}
#rentError {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
    display: none;
}
#clothError {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
    display: none;
}